body {
    background-color: #cecec6;
}

header {
    background-color: #8990ed;
}

nav li {
    display: inline;
}

nav a {
    color: wheat;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
}

h1 {
    color: #4a94e2;
    text-align: center;
}
h2 {
    color: #301ac4;
}
p {
    color:  #2db7bc;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.imagem-header {
    text-align: center;
}

#img-header {
    width: 10%;
    height: 10%;
}

.texto-principal {
    margin-right: 20%; 
}

.itens {
	color: blue;
	text-decoration: underline;
}
