body {
    background-color: rgb(135, 135, 215);
    height: 300vh;
}

header {
    background-color: #cccccc;
    padding: 20 0px;
}

.menu{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#imagem-menu {
    width: 10%;
    height: 10%;
    position: relative;
    padding-bottom: 20px;
    top: 10px;
    right: 5px;
}

nav {
    position: absolute;
    top: 20px;
    right: 50px;

}

nav li {
   display: inline;
   margin: 0 0 0 15px;

}

nav a {
    font-size: 22px;
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    text-shadow: none;
    text-decoration: none;
}

h1 {
    color: wheat;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    color: white;
}

p {
    color: whitesmoke;

}

h1, h2, h3, p {
     padding: 5px;
     margin: 10px;

}

ul, li {
    margin: 15px;

}

#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color:  whitesmoke;
	text-decoration: underline;
}

.texto-principal {
    margin-right: 20%;

}

footer {
    background-image: url(coding-image.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
